run = "kotlinc -d main.jar"

hidden=["*.jar"]

[nix]
channel = "stable-23_11"

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.kotlin]
pattern = "**/*.{kt,kts,java}"

[languages.kotlin.languageServer]
start = ["kotlin-language-server"]

[deployment]
run = ["sh", "-c", "kotlinc -d main.jar"]
